@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}


/*
/////Header//////
*/

.bg-aion {
    background: #3498db;
}

header {
    width: 100%;
    height: 100vh;
    background: #3498db;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: black;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #3498db;
}

.logo_aion {
    width: 95px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 400px;
    color: white;
}

.content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.content h2 {
    font-size: 2.6rem;
    font-weight: bold;
}

.about {
    background: white;
    border-radius: 10px;
    height: 450px;
    margin-top: -9rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-about {
    max-width: 650px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-about p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.content-about a {
    text-decoration: none;
    display: inline-block;
    background: #3498db;
    margin-top: 16px;
    color: wheat;
    padding: 15px 45px;
    border-radius: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    background-color: #F6E3CA;
    float: left;
    text-align: center;
    width: 3em;
}

.recent-projects {
    width: 100%;
    height: 100vh;
    background: #27ae60;
}

.contenido_pricipal {
    margin: 0 auto;
    width: 744px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contenido_pricipal p {
    margin-top: 10px;
    text-align: center;
    line-height: 1.8;
}


/* ============================ swiper ===================================== */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.imgBox img {
    width: 100%;
    height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}