@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}


/*
/////Header//////
*/

.bg-aion {
    background: #3498db;
}

header {
    width: 100%;
    height: 100vh;
    background: #3498db;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: black;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: #3498db;
}

.logo_aion {
    width: 95px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 400px;
    color: white;
}

.content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.content h2 {
    font-size: 2.6rem;
    font-weight: bold;
}

.about {
    background: white;
    border-radius: 10px;
    margin-top: -9rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-about {
    max-width: 650px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-about p {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
}

.content-about a {
    text-decoration: none;
    display: inline-block;
    background: #3498db;
    margin-top: 16px;
    color: white;
    padding: 15px 45px;
    border-radius: 40px;
}

.works ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works ul li {
    background-color: #F6E3CA;
    float: left;
    text-align: center;
    width: 3em;
}

.recent-projects {
    width: 100%;
    padding-bottom: 50px;
    background: #27ae60;
}

.contenido_pricipal {
    margin: 0 auto;
    width: 744px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contenido_pricipal p {
    margin-top: 10px;
    text-align: center;
    line-height: 1.8;
}


/* ============================ swiper ===================================== */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.imgBox img {
    width: 100%;
    height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

.our {
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.our h4 {
    max-width: 700px;
    padding-top: 95px;
}

.our-client {
    background: #9b59b6;
    height: 775px;
}

.our-client h2 {
    margin-top: 5rem;
}

.card {
    max-width: 505px !important;
    margin-top: -12rem;
    height: 545px;
    padding: 70px 30px 0 30px;
    border-radius: 10px;
}

.content_our_client {
    max-width: 425px;
    margin: 0 auto;
}

.content_our_client p {
    font-size: 16px;
    text-align: center;
    line-height: 2;
}

.content_our_client a {
    text-decoration: none;
    display: inline-block;
    background: #3498db;
    margin-top: 16px;
    color: white;
    padding: 15px 45px;
    border-radius: 40px;
}

.clientsImg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.client-img {
    width: 140px;
}

.client-img img {
    position: relative;
    bottom: 0;
    width: 100%;
}
footer{
    background-color: #2c3e50;
    display: flex;
    height: 70px;
}
.logo_aion_footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.home ul{
    height: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home ul li{
   color: white;
    float:right;
    text-align: center;
    width: 7em;
    margin-left: 50px;
   
}
.fin{
    background-color: #ecf0f1;
    margin: 40px;
    color: #2c3e50;
    font-family: 'Raleway';
}